h1
{
	color: rgb(105, 246, 5); 
	font-size: 40px;
}
.body_background {
background-image:url("bg1.jpg");
background-size: cover;
background-position:center;
}

#myCanvas{
background-color: white;
border-width: 40px;
border-style: ridge;
}